.pageContainer {
    padding: 32px 0;
}

.navbar {
    background-color: #297fff;
    opacity: 1;
}

.navbar button {
    background-color: #ff4b4b;
    margin-right: 20px;
}

.navlink {
    color: var(--bs-navbar-brand-hover-color);
}
.navlink:hover {
    color: var(--bs-navbar-brand-hover-color);
}